aiohttp==3.14.3
bandit==1.9.3
black==26.5.1
httpx==0.28.1
mkdocs==1.6.1
mkdocs_material==9.7.7
mkdocstrings==1.0.3
mypy==1.19.0
pip_audit==2.10.0
pre_commit==4.5.1
pylint==4.0.4
pytest==9.1.1
pytest_benchmark==5.2.3
pytest_cov==7.0.0
pytest_html==4.1.1
radon==6.0.1
requests==2.34.2
types_requests==2.32.4.20260107
